<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WpfApplication1.Properties.Settings>
            <setting name="LiftKD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LiftKP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LiftKI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YawKD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YawKP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YawKI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="KPFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KPBy" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="LiftFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LiftTo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LiftBy" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Samples" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Tolerance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TimeoutSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KIFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KITo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KIBy" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="KDFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KDBy" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="KDTo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SetpointOffset" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="InvertOffset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="portOverride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReachedDestination" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AveragePosition" serializeAs="String">
                <value>0</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>